/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.header_t_left,.header_t_right{
		float: none !important;
		text-align: center;
	}
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.header_t_left ul li:not(:last-child){
		margin-right: 2px;
	}
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a{
		margin: 0 25px;
	}
	/*Header end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { ... }