/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.header_t_left,.header_t_right{
		float: none !important;
		text-align: center;
	}
	.menu ul li{
		text-align: left;
	}
	.menu ul li a{
		margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    padding: 0 10px 0 0;
	    width: 290px;
	}
	.dd_menu[data-bs-popper] {
	    top: 44px;
	    left: -7px;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 70px 0 250px;
	}
	.b_h1 {
		margin-top: 195px;
	    font-size: 32px;
	}
	.b_underline {
	    margin: 30px 0 35px;
	    width: 32%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 18px;
	}
	/*Banner end*/

	/*About Box start*/
	.bbb_box{
		padding: 0;
	}
	.b_box {
	    padding: 16px;
	}
	.box1{
		margin-top: -290px;
	}
	.box2{
		margin-top: 20px;
	}
	.box3{
		margin-top: 60px;
	}
	.box_h2 {
	    font-size: 24px;
	}
	.box_h5 {
	    font-size: 16px;
	    font-weight: 500;
	}
	.box_underline {
	    margin: 18px 0;
	    width: 32%;
	}
	.box_time {
	    font-weight: 400;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	    font-size: 26px;
	}
	.btn_admission {
	    width: 185px;
	    height: 50px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 70px;
	}
	.about_left{
		margin-top: 25px;
	}
	.about_h1 {
	    margin-bottom: 25px;
	    font-size: 24px;
	    text-align: center;
	}
	.about_p{
		color: #858585;
		text-align: justify;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 25px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/

	/*Interest CSS start*/
	.common_h1 {
	    font-size: 20px;
	    text-align: center;
	}
	.interest{
		padding: 70px 0;
	}
	.interest_box {
	    margin: 35px 30px 0;
	    padding: 70px 0;
	}
	/*Interest end*/

	/*Course start*/
	.course{
		padding: 70px 0;
	}
	.course_h1{
		text-align: center;
	}
	.course_inner {
	    padding: 0 5px;
	}
	.top_left ul {
	    margin: 5px 0 10px 0;
	}
	.top_left ul li {
	    font-size: 12px;
	}
	.top_right {
	    margin-top: 6px;
	}
	.inner_h2{
		font-size: 16px;
	}
	.inner_top {
	    margin: 20px 0;
	}
	.price {
	    font-size: 20px;
	}
	.course_button{
		text-align: center;
	}
	.btn_course {
		margin: 25px auto 25px;
	}
	/*Course end*/

	/*Achievement start*/
	.achievement{
		padding: 70px 0;
	}
	.achieve_h1{
		text-align: center;
	}
	.achieve_content{
		margin: 35px 0 0;
		padding: 15px 40px;
		-webkit-box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
		box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
	}
	.ach_img {
	    width: 40px;
	    height: 40px;
	}
	.achieve_text span {
	    font-size: 22px;
	}
	.achieve_hr hr{
		margin: 45px auto 0;
		width: 70%;
	}
	.achieve_p2{
		margin: 30px 0;
		text-align: center;
	}
	/*Achievement end*/

	/*iFrame start*/
	.iframe{
		margin-top: -70px;
		padding-bottom: 70px;
	}
	/*iFrame end*/

	/* Live start */
	.live_class{
		padding: 70px 0;
	}
	.live_left{
		text-align: center;
	}
	.live_left_p {
	    font-size: 16px;
	}
	.live_left_h2 {
	    font-size: 22px;
	}
	.live_left_p2{
		margin: 15px 0;
		padding: 0 9px;
	}
	.btn_live{
		font-size: 14px;
		width: 180px;
		height: 45px;
	}
	.live_right{
		margin-top: 30px;
		padding: 0 10px;
	}
	.live_right_p{
		margin-top: 12px;
		font-size: 15px;
	}
	.live_icon{
		margin-top: -25px;
	}
	.live_fa{
		padding: 2px 3px;
	}
	/* Live end */

	/* News start */
	.news{
		padding: 70px 0;
	}
	.news_content{
		margin: 45px 10px 0;
	}
	.news_inner{
		padding: 30px 15px;
	}
	.load_button{
		margin-top: 35px;
		text-align: center;
	}
	.btn_load{
		width: 190px;
		height: 45px;
	}
	/* News end */

	/* Footer start */
	footer{
		padding: 70px 0 0;
	}
	.ft_left{
		margin-bottom: 25px;
		font-size: 16px;
		text-align: center;
	}
	.btn_submit{
		padding: 6px 0;
	}
	.footer_icon{
		margin: 30px 0;
		text-align: center;
	} 
	.footer_icon ul li a{
		margin: 0 25px;
	}
	.address{
		text-align: center;
	}
	.fb_p{
		font-size: 16px;
	}
	.fb_p2{
		margin-top: 15px;
	}
	.links{
		margin-top: 40px;
		text-align: center;
	}
	.footer_map{
		margin-top: 35px;
		padding: 0 15px;
	}
	.footer_bottom{
		text-align: center;
	}
	.fb_left ul li a{
		margin-right: 5px;
	}
	.fb_right_p{
		margin-top: 15px;
		font-size: 14px;
		text-align: center;
	}
	/* Footer end */
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.header_t_left ul li:not(:last-child){
		margin-right: 2px;
	}
	.menu ul li{
		text-align: left;
	}
	.menu ul li a{
		margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    padding: 0 10px 0 0;
	    width: 300px;
	}
	.dd_menu[data-bs-popper] {
	    top: -4px;
	    left: 212px;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 70px 0 240px;
	}
	.b_h1 {
	    font-size: 32px;
	}
	.b_underline {
	    margin: 30px 0 35px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 18px;
	}
	/*Banner end*/

	/*About Box start*/
	.bbb_box{
		padding: 0 60px;
	}
	.b_box {
	    padding: 16px;
	}
	.box1{
		margin-top: -295px;
	}
	.box2{
		margin-top: 15px;
	}
	.box3{
		margin-top: 60px;
	}

	.box_underline {
	    margin: 18px 0;
	    width: 24%;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.btn_admission {
	    width: 235px;
	    height: 50px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 70px;
	}
	.about_left{
		margin-top: 30px;
	}
	.about_h1 {
	    margin-bottom: 30px;
	    font-size: 26px;
	    text-align: center;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 30px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/

	/*Interest CSS start*/
	.common_h1 {
	    font-size: 28px;
	    text-align: center;
	}
	.interest{
		padding: 70px 0;
	}
	.interest_box {
	    margin-top: 35px;
	    padding: 79px 0;
	}
	/*Interest end*/

	/*Course start*/
	.course{
		padding: 70px 0;
	}
	.course_h1{
		text-align: center;
	}
	.course_all_content{
		padding: 0 80px;
	}
	.course_inner {
	    padding: 0 15px;
	}
	.top_left ul {
	    margin: 5px 0 10px 0;
	}
	.inner_top {
	    margin: 25px 0 20px;
	}
	.price {
	    font-size: 24px;
	}
	.course_button{
		text-align: center;
	}
	.btn_course {
		margin: 25px auto 25px;
	}
	/*Course end*/

	/*Achievement start*/
	.achievement{
		padding: 70px 0;
	}
	.achieve_h1{
		text-align: center;
	}
	.achieve_content{
		margin: 40px 0 0;
	}
	.achieve_text span {
	    font-size: 26px;
	}
	.achieve_hr hr{
		margin: 45px 0 0;
	}
	.achieve_p2{
		margin: 30px 0;
		padding-right: 75px;
	}
	/*Achievement end*/

	/*iFrame start*/
	.iframe{
		margin-top: -70px;
		padding-bottom: 70px;
	}
	/*iFrame end*/

	/* Live start */
	.live_class{
		padding: 70px 0;
	}
	.live_left{
		text-align: center;
	}
	.live_left_p {
	    font-size: 17px;
	}
	.live_left_h2 {
	    font-size: 24px;
	}
	.live_left_p2{
		margin: 20px 0;
		padding: 0 30px;
	}
	.btn_live{
		width: 195px;
		height: 45px;
	}
	.live_right{
		margin-top: 30px;
		padding: 0 50px;
	}
	.live_right_p{
		margin-top: 10px;
		font-size: 16px;
	}
	.live_fa{
		padding: 2px 3px;
	}
	/* Live end */

	/* News start */
	.news{
		padding: 70px 0;
	}
	.news_content{
		margin: 45px 70px 0;
	}
	.news_inner{
		padding: 30px;
	}
	.load_button{
		margin-top: 35px;
		text-align: center;
	}
	.btn_load{
		width: 190px;
		height: 45px;
	}
	/* News end */

	/* Footer start */
	footer{
		padding: 70px 0 0;
	}
	.ft_left{
		margin-bottom: 25px;
		font-size: 16px;
		text-align: center;
	}
	.footer_icon{
		margin: 30px 0;
		text-align: center;
	} 
	.footer_icon ul li a{
		margin: 0 25px;
	}
	.address{
		padding-left: 20px;
	}
	.links{
		padding-left: 50px;
	}
	.footer_map{
		margin-top: 40px;
		padding: 0 35px;
	}
	.footer_bottom{
		text-align: center;
	}
	.fb_right_p{
		margin-top: 15px;
		text-align: center;
	}
	/* Footer end */


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.menu ul li{
		text-align: left;
	}
	.menu ul li a{
		margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    padding: 0 10px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: -5px;
	    left: 305px;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 80px 0 250px;
	}
	.b_h1 {
	    font-size: 44px;
	}
	.b_underline {
	    margin: 40px 0 45px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 20px;
	}
	/*Banner end*/


	/*About Box start*/
	.b_box {
	    padding: 16px;
	}
	.box_h2 {
	    font-size: 24px;
	}
	.box_h5 {
	    font-size: 16px;
	    font-weight: 500;
	}
	.box_underline {
	    margin: 18px 0;
	    width: 45%;
	}
	.box_time {
	    font-weight: 400;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	    font-size: 22px;
	}
	.btn_admission {
	    width: 170px;
	    height: 44px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 80px;
	}
	.about_left{
		margin-top: 30px;
	}
	.about_h1 {
	    margin-bottom: 30px;
	    font-size: 28px;
	    text-align: center;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 30px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/

	/*Interest CSS start*/
	.interest{
		padding: 80px 0 100px;
	}
	.interest_box {
	    margin: 40px 0 0;
	    padding: 64px 0;
	}
	/*Interest end*/

	/*Course start*/
	.course{
		padding: 80px 0 100px;
	}
	.course_h1{
		text-align: center;
	}
	.course_all_content{
		padding: 0 80px;
	}
	.top_left ul {
	    margin: 5px 0 10px 0;
	}
	.inner_top {
	    margin: 25px 0 20px;
	}
	.price {
	    font-size: 24px;
	}
	.course_button{
		text-align: center;
	}
	.btn_course {
		margin: 30px auto 25px;
	}
	/*Course end*/

	/*Achievement start*/
	.achievement{
		padding: 80px 0 100px;
	}
	.achieve_h1{
		text-align: center;
	}
	.achieve_content{
		margin: 40px 0 0;
	}
	/*Achievement end*/

	/* Live start */
	.live_class{
		padding: 80px 0 100px;
	}
	.live_left_p {
	    font-size: 18px;
	}
	.live_left_h2 {
	    font-size: 26px;
	}
	.live_left_p2{
		margin: 25px 0;
		padding-right: 0;
	}
	.live_right_img img{
		height: 280px;
	}
	.btn_live{
		width: 200px;
		height: 45px;
	}
	.live_right_p{
		font-size: 16px;
	}
	.live_fa{
		padding: 3px 5px;
	}
	/* Live end */

	/* News start */
	.news{
		padding: 80px 0 100px;
	}
	.news_inner{
		padding: 30px 15px;
	}
	.load_button{
		margin-top: 35px;
	}
	.btn_load{
		width: 190px;
		height: 45px;
	}
	/* News end */

	/* Footer start */
	footer{
		padding: 80px 0 0;
	}
	.btn_submit{
		padding: 15px 10px;
	}
	.footer_icon{
		margin: 40px 0;
		text-align: center;
	} 
	.footer_icon ul li a{
		margin: 0 25px;
		font-size: 20px;
	}
	.address{
		padding-left: 50px;
	}
	.links{
		padding-left: 100px;
	}
	.footer_map{
		margin-top: 45px;
		padding: 0 70px;
	}
	.fb_left ul li a{
		margin-right: 5px;
	}
	.fb_right_p{
		margin-top: 3px;
		font-size: 14px;
	}
	/* Footer end */

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a{
		margin: 0 12px;
	}
	.dd_menu[data-bs-popper] {
	    top: 61px;
	    left: -339px;
	}
	.dd_menu {
		padding: 5px;
	    width: 360px;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 100px 0 280px;
	}
	.b_h1 {
	    font-size: 60px;
	}
	.b_underline {
	    margin: 60px 0 65px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 27px;
	}
	/*Banner end*/

	/*About Box start*/
	.overly_h2 {
	    font-size: 28px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_h1 {
	    margin-bottom: 30px;
	}
	.about_p2 {
	    margin: 20px 0;
	}
	.btn_about {
	    margin-top: 35px;
	}
	/*About lms end*/


	/*Course start*/
	.course_inner {
	    padding: 0 10px;
	}
	.inner_top {
	    margin: 20px 0 25px;
	}
	.top_left ul {
	    margin: 3px 0 8px 0;
	}
	.top_left ul li{
		margin-right: 0 !important;
		font-size: 13px;
	}
	.price {
	    font-size: 21px;
	}
	.inner_h2 {
	    font-size: 16px;
	}
	.inner_body p {
	    text-align: center;
	}
	.course_button{
		text-align: center;
	}
	.btn_course {
		margin: 30px auto 25px;
	    width: 130px;
	    height: 40px;
	}
	/*Course end*/

	/* Live start */
	.live_left_p2{
		margin: 25px 0;
	}
	.btn_live{
		width: 220px;
		height: 60px;
	}
	/* Live end */

	/* News start */
	.news_inner{
		padding: 25px;
	}
	.load_button{
		margin-top: 40px;
	}
	.btn_load{
		width: 240px;
		height: 55px;
	}
	/* News end */

	/* Footer start */
	.btn_submit{
		padding: 15px 10px;
	} 
	/* Footer end */
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/* Header start */
	.dd_menu[data-bs-popper] {
	    top: 61px;
	    left: -381px;
	}
	/* Header end */
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/* Header start */
	.dd_menu[data-bs-popper] {
	    top: 61px;
	    left: -379px;
	}
	/* Header end */

	/* Live start */
	.live_left{
		margin-top: 45px;
	}
	/* Live end */

	/* News start */
	.news_content{
		margin-top: 60px;
	}
	/* News end */
}