/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.header_t_left,.header_t_right{
		float: none !important;
		text-align: center;
	}
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 70px 0 250px;
	}
	.b_h1 {
		margin-top: 195px;
	    font-size: 32px;
	}
	.b_underline {
	    margin: 30px 0 35px;
	    width: 32%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 18px;
	}
	/*Banner end*/

	/*About Box start*/
	.bbb_box{
		padding: 0;
	}
	.b_box {
	    padding: 16px;
	}
	.box1{
		margin-top: -290px;
	}
	.box2{
		margin-top: 20px;
	}
	.box3{
		margin-top: 60px;
	}
	.box_h2 {
	    font-size: 24px;
	}
	.box_h5 {
	    font-size: 16px;
	    font-weight: 500;
	}
	.box_underline {
	    margin: 18px 0;
	    width: 32%;
	}
	.box_time {
	    font-weight: 400;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	    font-size: 26px;
	}
	.btn_admission {
	    width: 185px;
	    height: 50px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 70px;
	}
	.about_left{
		margin-top: 25px;
	}
	.about_h1 {
	    margin-bottom: 25px;
	    font-size: 24px;
	    text-align: center;
	}
	.about_p{
		color: #858585;
		text-align: justify;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 25px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.header_t_left ul li:not(:last-child){
		margin-right: 2px;
	}
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 70px 0 240px;
	}
	.b_h1 {
	    font-size: 32px;
	}
	.b_underline {
	    margin: 30px 0 35px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 18px;
	}
	/*Banner end*/

	/*About Box start*/
	.bbb_box{
		padding: 0 60px;
	}
	.b_box {
	    padding: 16px;
	}
	.box1{
		margin-top: -295px;
	}
	.box2{
		margin-top: 15px;
	}
	.box3{
		margin-top: 60px;
	}

	.box_underline {
	    margin: 18px 0;
	    width: 24%;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.btn_admission {
	    width: 235px;
	    height: 50px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 70px;
	}
	.about_left{
		margin-top: 30px;
	}
	.about_h1 {
	    margin-bottom: 30px;
	    font-size: 26px;
	    text-align: center;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 30px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/

	/*Interest CSS start*/
	.interest{
		padding: 80px 0 100px;
	}
	.interest_box {
	    margin-top: 40px;
	    padding: 64px 0;
	}
	/*Interest end*/


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.menu ul li{
		text-align: right;
	}
	.menu ul li a{
		margin: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 80px 0 250px;
	}
	.b_h1 {
	    font-size: 44px;
	}
	.b_underline {
	    margin: 40px 0 45px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 20px;
	}
	/*Banner end*/


	/*About Box start*/
	.b_box {
	    padding: 16px;
	}
	.box_h2 {
	    font-size: 24px;
	}
	.box_h5 {
	    font-size: 16px;
	    font-weight: 500;
	}
	.box_underline {
	    margin: 18px 0;
	    width: 45%;
	}
	.box_time {
	    font-weight: 400;
	}
	.btn_common {
	    margin: 15px 0;
	    width: 122px;
	    font-size: 15px;
	}
	.overly_h2 {
	    margin: 50px 0 25px;
	    font-size: 22px;
	}
	.btn_admission {
	    width: 170px;
	    height: 44px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_lms{
		padding: 0 0 80px;
	}
	.about_left{
		margin-top: 30px;
	}
	.about_h1 {
	    margin-bottom: 30px;
	    font-size: 28px;
	    text-align: center;
	}
	.about_p2 {
	    margin: 15px 0;
	}
	.btn_about{
	    margin: 30px auto 0;
	    display: flex;
	}
	.about_right{
		text-align: center;
	}
	/*About lms end*/

	/*Interest start*/
	/*Interest CSS start*/
	.interest{
		padding: 80px 0 100px;
	}
	.interest_box {
	    margin-top: 40px;
	    padding: 64px 0;
	}
	/*Interest end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a{
		margin: 0 25px;
	}
	/*Header end*/

	/*Banner start*/
	.banner {
	    padding: 100px 0 280px;
	}
	.b_h1 {
	    font-size: 60px;
	}
	.b_underline {
	    margin: 60px 0 65px;
	    width: 35%;
	    border: 1px solid #707070;
	}
	.b_p {
	    font-size: 27px;
	}
	/*Banner end*/

	/*About Box start*/
	.overly_h2 {
	    font-size: 28px;
	}
	/*About Box end*/

	/*About lms start*/
	.about_h1 {
	    margin-bottom: 30px;
	}
	.about_p2 {
	    margin: 20px 0;
	}
	.btn_about {
	    margin-top: 35px;
	}
	/*About lms end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { ... }