/*
font-family: 'PT Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/



/*Common CSS start*/
body{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 400;
	color: #4d4d4d;
}
.btn_common{
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	width: 124px;
	height: 35px;
	color: #ffffff;
	background-color: #1a56d6;
	border-radius: 0;
	border: 1px solid #1a56d6;
	text-transform: uppercase;
	transition: .33s ease-in-out;
}
.btn_common:hover{
	color: #1a56d6 !important;
	border: 1px solid #1a56d6 !important;
}
.common_h1{
	margin: 0;
	font-size: 30px;
	font-weight: 700;
}
/*Common CSS end*/

/*Header CSS start*/
header{}

/*Header Top*/
.header_top{
	padding: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #1a56d6;
	cursor: pointer;
}

/*Header body*/
.header_body{
	padding: 10px 0;
}
.logo{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	margin: 0 18px;
	font-weight: 700;
	color: #1a56d6;
	text-transform: uppercase;
	transition: .33s ease-in-out;
}
.menu ul li a:hover{
	color: #4d4d4d;
}
.btn_dd{
	padding: 0;
	color: #1a56d6;
	border: 0 !important;
}
.btn_dd::after{
	display: none;
}
.dd_menu {
    width: 400px;
    padding: 10px;
    border: 1px solid #1a56d6;
    border-radius: 5px;
}
.dd_menu[data-bs-popper] {
    top: 66px;
    left: -360px;
    margin-top: 0;
}
.dd_input{
	border: 0;
}
.dd_input:focus {
    color: #8e8e8e;
    border-color: transparent;
    box-shadow: none;
}
.dd_search{
	color: #1a56d6;
	border: 0 !important;
}

/*Header CSS end*/


/*Banner start*/
.banner{
	padding: 150px 0 300px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.b_h1{
	margin: 0;
	font-size: 72px;
	font-weight: 700;
}
.b_underline{
	margin: 75px 0 80px;
	width: 40%;
	border: 2px solid #707070;
}
.b_p{
	font-size: 30px;
	font-style: italic;
}
/*Banner end*/


/*About box CSS start*/
.about_box{
	padding: 80px 0;
}
.override{}
.b_box{
    margin-top: -310px;
	padding: 25px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(221,221,221,1);
	-moz-box-shadow: 0px 0px 10px 10px rgba(221,221,221,1);
	box-shadow: 0px 0px 10px 10px rgba(221,221,221,1);
}
.box_head{
	margin: -32px 0 0 0;
	font-weight: 700;
	font-style: italic;
	color: #e6e6e6;
}
.announce{
	margin: -32px 0 0 0;
}
.box_h2{
	margin: 30px 0 12px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	left: 0;
	text-align: left;
	text-transform: uppercase;
}
.box_h5{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #808080;
	text-transform: uppercase;
}
.box_underline{
	margin: 25px 0;
	width: 28%;
	border: 1px solid #1a56d6;
}
.box_time{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.btn_box{}
.rc_r{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;	
}
.rc_overlay{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 10;
	text-align: center;
	transition: .50s;

}
.overly_h2{
	margin: 80px 0 25px;
	font-size: 32px;
	font-weight: 700;
	color: #4d4d4d;
}
.btn_admission{
	margin-bottom: 40px;	
	font-weight: 500;
	width: 270px;
	height: 65px;
	color: #1a56d6 !important;
	border: 1px solid #1a56d6!important;
	background-color: transparent;
}
.btn_admission:hover{
	color: #ffffff !important;
	background-color: #1a56d6 !important;
}
/*About box CSS end*/


/*About lms start*/
.about_lms{
	padding: 0 0 100px;
	border-bottom: 1px solid #c3c3c3;
}
.about_left{}
.about_h1{
	margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #192041;
}
.about_p1{
	margin: 0;
}
.about_p2{
	margin: 30px 0;
}
.about_p3{
	margin: 0;
}
.btn_about{
	margin-top: 50px;
}
/*About lms end*/

/*Interest CSS start*/
.interest{
	padding: 100px 0 120px;
	background-image: url(../images/interest.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.interest_box{
	margin-top: 50px;
	padding: 90px 0;
	display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 8px 3px rgba(219,219,219,1);
	-moz-box-shadow: 0px 5px 8px 3px rgba(219,219,219,1);
	box-shadow: 0px 5px 8px 3px rgba(219,219,219,1);
	transition: .8s ease-in-out;
	cursor: pointer;
}
.interest_box img:hover{
	transform: scale(.8);
}
/*Interest CSS end*/


/*Course CSS start*/
.course{
	padding: 100px 0 120px;
}
.course_h1{}
.course_all_content{}
.course_content{
	margin-top: 45px;
	border: 1px solid #e9e9e9;
	transition: .33s ease-in-out;
}
.course_content:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
	box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
}
.course_img{}
.course_img img{
	width: 100%;
}
.course_inner{
	padding: 0 30px;
}
.inner_top{
	margin: 30px 0 40px;
}
.top_left{}
.top_left ul{
	margin: 5px 0 13px 0;
}
.top_left ul li{
	font-size: 13px;
}
.inner_h2{
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}
.top_right{
	text-align: right;
}
.price{
	font-size: 26px;
    font-weight: 700;
    color: #1414d9;
    text-align: right;
    text-transform: uppercase;
}
.top_right ul{
	margin: 0;
	color: #ed8000;
}
.last-child:not(:last-child) {
    margin-right: 0;
}
.top_right ul li{
	font-size: 12px;
}
.top_left li:not(:last-child) {
    margin-right: 0rem;
}
.inner_body{}
.inner_body p{
	margin: 0;
	color: #8c8c8c;
}
.btn_course{
	margin: 30px 0 25px;
	width: 160px;
	height: 50px;
	color: #ffffff !important;
	background-color: #1a56d6 !important;
}
.btn_course:hover{
	color: #1a56d6 !important;
	border: 1px solid #1a56d6!important;
	background-color: transparent !important;
}
/*Course CSS end*/

/*Achievement CSS start*/
.achievement{
	padding: 100px 0 120px;
	background-image: url(../images/interest.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.achieve_h1{}
.achieve_content{
	margin: 60px 0 0;
}
.ach_img{
	margin: 0 auto;
	width: 50px;
	height: 50px;
}
.ach_img img{
	width: 100%;
}
.achieve_text{}
.achieve_text span{
	font-size: 30px;
	font-weight: 700;
}
.achieve_p{
	font-weight: 700;
}
.achieve_hr hr{
	margin: 50px 0 0;
}
.achieve_p2{
	margin: 35px 0;
}
/*Achievement CSS end*/

/*iFrame CSS start*/
.iframe{
	margin-top: -115px;
	padding-bottom: 100px;
	text-align: center;
}
.i_frame{
	width: 100%;
	height: 375px;
}
/*iFrame CSS end*/