
/*
font-family: 'PT Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/



/*Common CSS start*/
body{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 400;
	color: #4d4d4d;
}
/*Common CSS end*/

/*Header CSS start*/
header{}

/*Header Top*/
.header_top{
	padding: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #1a56d6;
}

/*Header body*/
.header_body{
	padding: 10px 0;
}
.logo{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	margin: 0 40px;
	font-weight: 700;
	color: #1a56d6;
	text-transform: uppercase;
	transition: .33s ease-in-out;
}
.menu ul li a:last-child{
	margin-right: 0;
}
.menu ul li a:hover{
	color: #4d4d4d;
}

/*Header CSS end*/


/*Banner start*/
.banner{
	padding: 150px 0 300px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.b_h1{
	margin: 0;
	font-size: 72px;
	font-weight: 700;
}
.b_underline{
	margin: 75px 0 80px;
	width: 40%;
	border: 2px solid #707070;
}
.b_p{
	font-size: 30px;
	font-style: italic;
}
/*Banner end*/